.result-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #5e9615;
}

.result-box{
    background-color: #FFFBAF;
    width: 1300px;
    height: 800px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 100px;
    animation-name: pop-out;
    animation-duration: 1s;
}

.result-title{
    color: #666;
    border-bottom: 2px solid #EEA;
}
.result-title span{
    color: black;
    font-size: 40px;
}

.result-chart-type{
    display: flex;
    flex-direction: row;
    color: black;
    background-color: transparent;
    font-size: 20px;
    justify-content: center;
    align-self: center;
}

.result-chart-type>div{
    width: 150px;
    display: flex;
    justify-content: center;
    border: 1px solid #333;
    border-right: 1px solid #333;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s linear;
}

.result-chart-type>div:last-child{
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.result-chart-type>div:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
    border-left: 1px solid #333;
}

.result-chart-type>div:hover{
    background: #EEA;
}

.result-chart-type .selected{
    background: rgb(197, 197, 128);
}

.result-chart{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    height: 550px;
    width: 1000px;
}


@keyframes pop-out{
    from{
        width: 0px;
        opacity: 0.6;
    }

    to{
        width: 1300px;
        opacity: 1;
    }
}